@tailwind components;

@layer components {
  .weekly__calendar {
    @apply flex text-2xl justify-evenly;
  }

  .weekly__calendar > li {
    @apply flex flex-col justify-center items-center basis-24 gap-2 bg-h_gray_semi_dark;
  }

  .weekly__calendar > li > span {
  }

  .weekly__calendar > li > div {
    @apply bg-h_gray_semi_light rounded-full w-12 h-12 flex justify-center items-center;
  }

  .full__calendar {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(85, 85, 85, 0.391);
    z-index: 1000;

    & > div {
      position: absolute;
      background: red;
      width: 100vw;
      height: 50%;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
      transition: 1s;
    }

    & > div.close {
      bottom: -100%;
    }

    & > div.open {
      bottom: 0;
    }
  }
}

@media screen and (min-width: 640px) {
  .full__calendar {
    & > div {
      position: absolute;
      background-color: blue;
      width: 600px;
      height: 600px;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
    }

    & > div.close {
      top: -100%;
    }

    & > div.open {
      top: 0;
    }
  }
}
