.columnContainer {
  display: grid;
  grid-template-columns: 15% 55% 20% 10%;
  grid-template-rows: minmax(3rem, auto);
  text-align: center;
  align-items: center;
}

.columnContainer > span {
  height: 100%;
  line-height: 3rem;
}

.columnContainer span:not(:last-child) {
  border-right: 1px solid;
  @apply border-h_gray;
}
